/* 
Color Pallet:
Powder blue: 43BFC7 rgb(67, 191, 199)
Teal: #69E9F5 rgb(105, 233, 245)
Light Purple: 645FCE rgb(100, 95, 206)
Dark purple: 40356F rgb(64, 53, 111)
Light Blue: #2b87c6

Hex	RGB -- https://www.color-hex.com/color-palette/7133
Lightest  #00b8ff	(0,184,255)
          #009bd6	(0,155,214)
          #00719c	(0,113,156)
          #00415a	(0,65,90)
Darkest   #001f2b	(0,31,43)
Gray      #666666
*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #001f2b;
  /* background-image: url("../images/background.jpg"); */
}

.mission-icon{
  width: 4em;
}

.navbar{
  background-color: #00b8ff;
}

.navbar-brand{
  background-color: #00415a;
}

.navbar-item:hover{
  background-color:#666666;
}

.hero-background {
  background-image: url("../images/FRC_Hero_noWatermark.png");
  /* filter: brightness(50%); */
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

i {
  display: block;
  color: #000;
}

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; 
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.card-cover-1{
  background-size: cover;
}
.card-cover-2{
  background-size: cover;
}
.card-div-2{
  backdrop-filter: brightness(60%);
}
.card-cover-3{
  background-size: cover;
}
.card-div-3{
  backdrop-filter: brightness(60%);
}
.series-container {
  width: 26rem;
  background-color: #00415a;
  padding: 10px;
  border-radius: 5px;
}

.material-symbols-outlined {
  
  /* font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24; */
  width: 50px;
}

.mission-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Handling */
.mobile-notAvail{
  display: none;
}
@media only screen and (max-width: 770px) {
  .mobile-notAvail{
    width: 100%;
    height: 100vh;
    background-color: #00b8ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notAvail-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font */
  }
  .main{
    display: none;
  }
  .footer-container{
    display: none;
  }
}