/* 
Color Pallet:
Powder blue: 43BFC7 rgb(67, 191, 199)
Teal: #69E9F5 rgb(105, 233, 245)
Light Purple: 645FCE rgb(100, 95, 206)
Dark purple: 40356F rgb(64, 53, 111)
*/

.hero-background {
  background-image: url("../images/hero-1.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-p {
  backdrop-filter: blur(15px);
  padding: 5px;
  border-radius: 5px;
}

.series-container {
  width: 26rem;
  background-color: #645fce;
  padding: 10px;
  border-radius: 5px;
  /* margin-right: 5px;
  margin-left: ; */
}

/* .series-grid{
  
} */
